 Implement Random Forest Classifier model to predict the safety of the car.

In [1]:
import pandas as pd
import numpy as np

from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OrdinalEncoder

In [2]:
data=pd.read_csv('car_evaluation.csv')

In [3]:
data.head(2)

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc

In [4]:
data.columns=['buying','maint','doors','persons','lug_boot','safety','class']

In [5]:
data.head(2)

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc

In [6]:
data.isna().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [7]:
oe=OrdinalEncoder()

In [9]:
data[['buying','maint','doors','persons','lug_boot','safety','class']] =oe.fit_transform(data[['buying','maint','doors','persons','lug_boot','safety','class']])

In [10]:
data.head(2)

   buying  maint  doors  persons  lug_boot  safety  class
0     3.0    3.0    0.0      0.0       2.0     2.0    2.0
1     3.0    3.0    0.0      0.0       2.0     0.0    2.0

In [12]:
x = data.drop('safety',axis=1)
y = data['safety']

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

NameError: name 'train_test_split' is not defined